:root {
    --type: "Cartograph Sans", sans-serif;
    --cream: #efeeeb;
    --grey: #dad8d2;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.8em;
    font-family: var(--type);
    line-height: 1.7;
}

.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
}

code {
    font-variant-ligatures: none;
    font-family: var(--type);
    background: var(--cream);
    font-size: 1em;
    line-height: inherit;
}

pre {
    border: 1px solid var(--grey);
    overflow: hidden;
    background: var(--cream);
    font-size: inherit;
    padding: 2rem 1rem;
    overflow: auto;
}
pre > code {
    /* font-variant-ligatures: none; */
    /* text-shadow: none !important; */
    line-height: 1.2;
}
*:not(pre) > code {
    border: 1px solid var(--grey);
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Medium.eot");
    src: url("./fonts/CartographSansCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Medium.woff") format("woff"),
        url("./fonts/CartographSansCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-MediumItalic.eot");
    src: url("./fonts/CartographSansCF-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-MediumItalic.woff") format("woff"),
        url("./fonts/CartographSansCF-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Heavy.eot");
    src: url("./fonts/CartographSansCF-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Heavy.woff") format("woff"),
        url("./fonts/CartographSansCF-Heavy.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

.outer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: scroll;
    padding: 1em;
    border-right: 1px solid var(--grey);
}

.main {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.menu > ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    list-style: none;
    padding: 0.5em 0.5em 0.5em 1.5em;
}

.menu-item__current {
    position: relative;
    background: var(--grey);
}
.menu-item__indicator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
