:root {
    --type: sans-serif; /*"Cartograph Sans", sans-serif;*/
    --monospace: "Cartograph Mono", monospace;
    --cream: #efeeeb;
    --grey: #dad8d2;
    /* --black: #4d4d4d; */
    --black: #000000;
    --white: #ffffff;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

body {
    font-size: 1.8rem;
    font-family: var(--type);
    color: var(--black);
    background: var(--white);
    line-height: 1.7;
}

.stack > * + * {
    display: block;
    margin-top: 4rem;
}

.stack--large > * + * {
    display: block;
    margin-top: 8rem;
}

.stack--small > * + * {
    display: block;
    margin-top: 1rem;
}

/* .cluster {
    display: flex;
    align-items: center;
} */

.cluster {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
    align-items: stretch;
}

/* .cluster > * + * {
    margin-left: 1rem;
} */

/* .cluster {
    --cluster__gutter: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: calc(0 - (var(--cluster__gutter) / 2));
}

.cluster > * {
    margin: var(--cluster__gutter);
} */

/* .cluster--centered {
    justify-content: center;
}
.cluster--centered-vertically {
    align-items: center;
}

.cluster--no-gutter {
    margin: 0;
}
.cluster--no-gutter > * {
    margin: 0;
}

.cluster--stretch {
    align-items: stretch;
} */

.container {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    padding: 1em;
    padding-bottom: 10em;
}

hr {
    display: block;
    border: none;
    width: 100%;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background: var(--grey);
    height: 1px;
}
/* 
code {
    font-variant-ligatures: none;
    font-family: var(--monospace);
    background: var(--cream);
    font-size: 1em;
    line-height: inherit;
}
*/
pre {
    --hljs-github-dark-dimmed-bg: #22272e;
    --hljs-github-dark-bg: #0d1117;
    --hljs-github-bg: #ffffff;
    border: 1px solid var(--grey);
    overflow: hidden;
    background: var(--hljs-github-bg);
    font-size: inherit;
    padding: 2rem 1rem;
    overflow: auto;
}
/*
pre > code {
    font-variant-ligatures: none;
    text-shadow: none !important;
    line-height: 1.2;
} */
*:not(pre) > code {
    border: 1px solid var(--grey);
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Medium.eot");
    src: url("./fonts/CartographSansCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Medium.woff") format("woff"),
        url("./fonts/CartographSansCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-MediumItalic.eot");
    src: url("./fonts/CartographSansCF-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-MediumItalic.woff") format("woff"),
        url("./fonts/CartographSansCF-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Heavy.eot");
    src: url("./fonts/CartographSansCF-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Heavy.woff") format("woff"),
        url("./fonts/CartographSansCF-Heavy.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("./fonts/CartographMonoCF-Medium.eot");
    src: url("./fonts/CartographMonoCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographMonoCF-Medium.woff") format("woff"),
        url("./fonts/CartographMonoCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

.outer {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    --sidebar-width: 300px;
}

.sidebar {
    height: 100vh;
    width: var(--sidebar-width);
    flex-shrink: 0;
    position: fixed;
    flex-grow: 0;
    overflow-y: scroll;
    padding: 1em;
    border-right: 1px solid var(--grey);
}

.main {
    height: 100%;
    width: 100%;
    margin-left: var(--sidebar-width);
    overflow-y: scroll;
}

.menu > ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    list-style: none;
    padding: 0.5em 0.5em 0.5em 1.5em;
}

.menu-item__current {
    position: relative;
    background: var(--grey);
}
.menu-item__indicator {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.callout {
    border: 4px dashed var(--black);
    padding: 2rem;
    position: relative;
}

.callout__eyebrow {
    position: absolute;
    top: -2px;
    padding: 0.5rem;
    left: 1.5rem;
    background: var(--white);
    display: inline-block;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 700;
    /* font-size: 0.8em; */
    transform: translateY(-50%);
}

.cards {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.card {
    position: relative;
    list-style: none;
    padding: 1em;
    border: 1px solid var(--grey);
    width: 100%;
}

.card > a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
