:root {
    // vars in `./_base.vars.scss`
}

code {
    // font-variant-ligatures: none;
    font-family: var(--monospace);
    color: var(--code-text);
    background: var(--code-background);
    // font-size: 1em;
    // line-height: inherit;
}

pre {
    // border: 1px solid var(--grey);
    overflow: hidden;
    color: var(--code-text);
    background: var(--code-background);
    font-size: inherit;
    padding: 2rem 1rem;
    overflow: auto;
}

// pre > code {
//     font-variant-ligatures: none;
//     text-shadow: none !important;
//     line-height: 1.2;
// }

*:not(pre) > code {
    // border: 1px solid var(--grey);
}
