.stack > * + * {
    display: block;
    margin-top: 4rem;
}

.stack--large > * + * {
    display: block;
    margin-top: 8rem;
}

.stack--small > * + * {
    display: block;
    margin-top: 1rem;
}

/* .cluster {
    display: flex;
    align-items: center;
} */

.cluster {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1em;
    align-items: stretch;
}

/* .cluster > * + * {
    margin-left: 1rem;
} */

/* .cluster {
    --cluster__gutter: 1em;
    display: flex;
    flex-wrap: wrap;
    margin: calc(0 - (var(--cluster__gutter) / 2));
}

.cluster > * {
    margin: var(--cluster__gutter);
} */

/* .cluster--centered {
    justify-content: center;
}
.cluster--centered-vertically {
    align-items: center;
}

.cluster--no-gutter {
    margin: 0;
}
.cluster--no-gutter > * {
    margin: 0;
}

.cluster--stretch {
    align-items: stretch;
} */
