@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Medium.eot");
    src: url("./fonts/CartographSansCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Medium.woff") format("woff"),
        url("./fonts/CartographSansCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-MediumItalic.eot");
    src: url("./fonts/CartographSansCF-MediumItalic.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-MediumItalic.woff") format("woff"),
        url("./fonts/CartographSansCF-MediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Cartograph Sans";
    src: url("./fonts/CartographSansCF-Heavy.eot");
    src: url("./fonts/CartographSansCF-Heavy.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographSansCF-Heavy.woff") format("woff"),
        url("./fonts/CartographSansCF-Heavy.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cartograph Mono";
    src: url("./fonts/CartographMonoCF-Medium.eot");
    src: url("./fonts/CartographMonoCF-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/CartographMonoCF-Medium.woff") format("woff"),
        url("./fonts/CartographMonoCF-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
