.header__title {
    // font-family: var(--monospace);
    font-weight: 900;
    font-size: 3.5rem;
}

.header__title__suffix {
    color: var(--text);
}

.header__title > a {
    font-size: inherit;
    text-decoration: none;
    color: transparent;
}

.header__title--gradient {
    background-clip: text;
    background-image: linear-gradient(
        to left,
        var(--secondary),
        var(--primary)
    );
}
