.menu > ul {
    margin: 0;
    padding: 0;
}

.menu-item {
    list-style: none;
    // padding: 0.5em 0.5em 0.5em 1.5em;
}

.menu-item a {
    text-decoration: none;
    display: block;
    padding: 0.5em 0.5em 0.5em 1.5em;
}

.menu-item:not(.menu-item__current) a:hover {
    background: var(--background--secondary);
}

.menu-item__current {
    position: relative;
    background: var(--background--secondary);
}

.menu-item__current a {
    color: var(--text);
}

.menu-item__indicator {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;
    background: var(--primary);
    // top: 50%;
    // left: 0.5em;
    // transform: translateY(-50%);
    // color: var(--primary)
}

.menu-details-summary {
    list-style: none;
    position: relative;
    padding-left: 2.4rem;
    cursor: pointer;
    &:before {
        position: absolute;
        top: 50%;
        transform: translate(-20%, -50%) rotate(-45deg);
        left: 0;
        content: "";
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        border-bottom: 0.2rem solid var(--primary);
        border-right: 0.2rem solid var(--primary);
    }
    // &.current {
    //     background: var(--background--secondary);
    // }
}

.menu-details[open] > .menu-details-summary:before {
    transform: translate(0%, -80%) rotate(45deg);
}

.menu-details > ul {
    padding-left: 0;
}
