.callout {
    border: 2px dashed var(--primary);
    padding: 3rem;
    border-radius: 2rem;
    position: relative;
}

.callout:before {
    content: "Note";
    position: absolute;
    top: -1px;
    margin-top: 0;
    padding: 0.5rem;
    left: 2.5rem;
    background: var(--background);
    font-family: var(--monospace);
    color: var(--primary);
    display: inline-block;
    line-height: 1;
    // text-transform: uppercase;
    font-weight: 700;
    // font-size: 0.8em;
    transform: translateY(-50%);
}
