:root {
  --black: #4d4d4d;
  --black--light: #888;
  --black--translucent: #4d4d4d44;
  --black--unchanging: #4d4d4d;
  --black--unchanging--dark: #3d3d3d;
  --black--soft: #666;
  --white: #fdfdfa;
  --white--on-dark: #fdfdfa;
  --white--unchanging: #fdfdfa;
  --cream: #efeeeb;
  --cream--unchanging: #efeeeb;
  --grey: #dad8d2;
  --grey--light: $greyLight;
  --grey--dark: #aca79a;
  --primary: #00b7c6;
  --primary--translucent: rgba(0, 183, 198, 0.3);
  --secondary: #ff851b;
  --orange: #793200;
  --orange--dark: #c65100;
  --primary--dark: #007079;
  --primary--mid: #42d3e2;
  --primary--light: #e4f6f5;
  --selection--primary: --white;
  --selection--secondary: #bbb;
  --selection--tertiary: rgba($primary, 0.5);
  --cg__lego: #0074d9;
  --cg__lego--fill: rgba(0, 116, 217, 0.3);
  --cg__mus: #2ecc40;
  --cg__mus--fill: rgba(46, 204, 64, 0.3);
  --cg__art: #ff4136;
  --cg__art--fill: rgba(255, 65, 54, 0.3);
  --cg__des: #4d4d4d;
  --cg__des--fill: rgba(77, 77, 77, 0.3);
  --cg__dev: #00b7c6;
  --cg__dev--fill: rgba(0, 183, 198, 0.3);
  --cg__pod: #ff851b;
  --cg__pod--fill: rgba(255, 133, 27, 0.3); }

:root[data-theme="dark"] {
  --primary: #ff851b;
  --primary--dark: #df6b00;
  --primary--mid: #df6b00;
  --primary--light: #ff9334;
  --primary--translucent: rgba(255, 133, 27, 0.3);
  --black: #efeeeb;
  --black--light: #888;
  --black--translucent: #efeeeb44;
  --grey: #666;
  --white: #4d4d4d;
  --white--on-dark: #fdfdfa;
  --cream: #666;
  --grey--dark: #aca79a;
  --cg__des: #aca79a;
  --cg__des--fill: rgba(172, 167, 154, 0.3); }

.uniquething {
  color: red;
  background: #990000; }

::-moz-selection {
  color: var(--selection--primary);
  background: var(--selection--secondary); }

::selection {
  color: var(--selection--primary);
  background: var(--selection--secondary); }

a::-moz-selection {
  color: var(--primary);
  text-shadow: none !important; }

a::selection {
  color: var(--primary);
  text-shadow: none !important; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-Medium.eot);
  src: url(fonts/CartographSansCF-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-Medium.woff) format("woff"), url(fonts/CartographSansCF-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-MediumItalic.eot);
  src: url(fonts/CartographSansCF-MediumItalic.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-MediumItalic.woff) format("woff"), url(fonts/CartographSansCF-MediumItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-Heavy.eot);
  src: url(fonts/CartographSansCF-Heavy.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-Heavy.woff) format("woff"), url(fonts/CartographSansCF-Heavy.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-HeavyItalic.eot);
  src: url(fonts/CartographSansCF-HeavyItalic.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-HeavyItalic.woff) format("woff"), url(fonts/CartographSansCF-HeavyItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Cartograph Mono";
  src: url(fonts/CartographMonoCF-Medium.eot);
  src: url(fonts/CartographMonoCF-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/CartographMonoCF-Medium.woff) format("woff"), url(fonts/CartographMonoCF-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.bar-graph__bar-wrapper {
  display: flex;
  align-items: center;
  justify-content: stretch; }

.bar-graph__tick-labels {
  margin-left: 3.5em;
  position: relative;
  height: 1.6rem; }

.bar-graph__tick-label {
  position: absolute;
  top: 0;
  line-height: 1;
  transform: translateX(-50%);
  font-size: 1.4rem;
  color: var(--grey); }

.bar-graph__bar-index {
  flex-grow: 0;
  flex-shrink: 0;
  width: 2.6em;
  display: block;
  line-height: 1;
  font-style: italic; }

.bar-graph__bar-key {
  flex-grow: 0;
  flex-shrink: 0;
  width: 1.5em;
  display: block;
  line-height: 1;
  font-weight: bold; }

.bar-graph__bar {
  position: relative;
  display: flex;
  flex-grow: 1;
  align-items: center;
  border-left: 0.2rem solid var(--black);
  height: 3rem; }

.bar-graph__bar-value {
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  height: 2rem;
  background: var(--primary); }

.bar-graph__bar-label {
  position: absolute;
  display: block;
  line-height: 1;
  padding-left: 0.4rem; }

.bar-graph__ticks {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.bar-graph__tick {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-left: 0.1rem solid var(--black--translucent); }

.bar-graph__bar-wrapper:nth-of-type(2n) {
  background: var(--cream); }

.bar-graph__bar-wrapper:hover {
  background: var(--primary--translucent); }

.page-icon--wordle {
  display: block;
  margin: 0 auto;
  fill: var(--primary); }

.wordle-icon__wrong {
  fill: var(--primary); }

.wordle-icon__right {
  fill: var(--primary); }

.wordle-icon__half {
  fill: var(--primary); }

.wordle-icon__half_bg {
  fill: var(--primary--translucent); }

