:root {
  --black: #4d4d4d;
  --black--light: #888;
  --black--translucent: #4d4d4d44;
  --black--unchanging: #4d4d4d;
  --black--unchanging--dark: #3d3d3d;
  --black--soft: #666;
  --white: #fdfdfa;
  --white--on-dark: #fdfdfa;
  --white--unchanging: #fdfdfa;
  --cream: #efeeeb;
  --cream--unchanging: #efeeeb;
  --grey: #dad8d2;
  --grey--light: $greyLight;
  --grey--dark: #aca79a;
  --primary: #00b7c6;
  --primary--translucent: rgba(0, 183, 198, 0.3);
  --secondary: #ff851b;
  --orange: #793200;
  --orange--dark: #c65100;
  --primary--dark: #007079;
  --primary--mid: #42d3e2;
  --primary--light: #e4f6f5;
  --selection--primary: --white;
  --selection--secondary: #bbb;
  --selection--tertiary: rgba($primary, 0.5);
  --cg__lego: #0074d9;
  --cg__lego--fill: rgba(0, 116, 217, 0.3);
  --cg__mus: #2ecc40;
  --cg__mus--fill: rgba(46, 204, 64, 0.3);
  --cg__art: #ff4136;
  --cg__art--fill: rgba(255, 65, 54, 0.3);
  --cg__des: #4d4d4d;
  --cg__des--fill: rgba(77, 77, 77, 0.3);
  --cg__dev: #00b7c6;
  --cg__dev--fill: rgba(0, 183, 198, 0.3);
  --cg__pod: #ff851b;
  --cg__pod--fill: rgba(255, 133, 27, 0.3); }

:root[data-theme="dark"] {
  --primary: #ff851b;
  --primary--dark: #df6b00;
  --primary--mid: #df6b00;
  --primary--light: #ff9334;
  --primary--translucent: rgba(255, 133, 27, 0.3);
  --black: #efeeeb;
  --black--light: #888;
  --black--translucent: #efeeeb44;
  --grey: #666;
  --white: #4d4d4d;
  --white--on-dark: #fdfdfa;
  --cream: #666;
  --grey--dark: #aca79a;
  --cg__des: #aca79a;
  --cg__des--fill: rgba(172, 167, 154, 0.3); }

.uniquething {
  color: red;
  background: #990000; }

::-moz-selection {
  color: var(--selection--primary);
  background: var(--selection--secondary); }

::selection {
  color: var(--selection--primary);
  background: var(--selection--secondary); }

a::-moz-selection {
  color: var(--primary);
  text-shadow: none !important; }

a::selection {
  color: var(--primary);
  text-shadow: none !important; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-Medium.eot);
  src: url(fonts/CartographSansCF-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-Medium.woff) format("woff"), url(fonts/CartographSansCF-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-MediumItalic.eot);
  src: url(fonts/CartographSansCF-MediumItalic.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-MediumItalic.woff) format("woff"), url(fonts/CartographSansCF-MediumItalic.ttf) format("truetype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-Heavy.eot);
  src: url(fonts/CartographSansCF-Heavy.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-Heavy.woff) format("woff"), url(fonts/CartographSansCF-Heavy.ttf) format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Cartograph Sans";
  src: url(fonts/CartographSansCF-HeavyItalic.eot);
  src: url(fonts/CartographSansCF-HeavyItalic.eot?#iefix) format("embedded-opentype"), url(fonts/CartographSansCF-HeavyItalic.woff) format("woff"), url(fonts/CartographSansCF-HeavyItalic.ttf) format("truetype");
  font-weight: bold;
  font-style: italic; }

@font-face {
  font-family: "Cartograph Mono";
  src: url(fonts/CartographMonoCF-Medium.eot);
  src: url(fonts/CartographMonoCF-Medium.eot?#iefix) format("embedded-opentype"), url(fonts/CartographMonoCF-Medium.woff) format("woff"), url(fonts/CartographMonoCF-Medium.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

.integrated-search__icon {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  display: inline-block;
  border: none;
  border-radius: 0; }

/**
 * GitHub Gist Theme
 * Author : Louis Barranqueiro - https://github.com/LouisBarranqueiro
 */
.hljs {
  display: block;
  background: white;
  padding: 0.5em;
  color: #333333;
  overflow-x: auto;
  -webkit-text-size-adjust: none; }

.hljs-comment,
.bash .hljs-shebang,
.java .hljs-javadoc,
.javascript .hljs-javadoc {
  color: #969896; }

.hljs-string,
.apache .hljs-sqbracket,
.coffeescript .hljs-subst,
.coffeescript .hljs-regexp,
.cpp .hljs-preprocessor,
.c .hljs-preprocessor,
.javascript .hljs-regexp,
.json .hljs-attribute,
.makefile .hljs-variable,
.markdown .hljs-value,
.markdown .hljs-link_label,
.markdown .hljs-strong,
.markdown .hljs-emphasis,
.markdown .hljs-blockquote,
.nginx .hljs-regexp,
.nginx .hljs-number,
.objectivec .hljs-preprocessor .hljs-title,
.perl .hljs-regexp,
.php .hljs-regexp,
.xml .hljs-value,
.less .hljs-built_in,
.scss .hljs-built_in {
  color: #df5000; }

.hljs-keyword,
.css .hljs-at_rule,
.css .hljs-important,
.http .hljs-request,
.ini .hljs-setting,
.java .hljs-javadoctag,
.javascript .hljs-tag,
.javascript .hljs-javadoctag,
.nginx .hljs-title,
.objectivec .hljs-preprocessor,
.php .hljs-phpdoc,
.sql .hljs-built_in,
.less .hljs-tag,
.less .hljs-at_rule,
.scss .hljs-tag,
.scss .hljs-at_rule,
.scss .hljs-important,
.stylus .hljs-at_rule,
.go .hljs-typename,
.swift .hljs-preprocessor {
  color: #a71d5d; }

.apache .hljs-common,
.apache .hljs-cbracket,
.apache .hljs-keyword,
.bash .hljs-literal,
.bash .hljs-built_in,
.coffeescript .hljs-literal,
.coffeescript .hljs-built_in,
.coffeescript .hljs-number,
.cpp .hljs-number,
.cpp .hljs-built_in,
.c .hljs-number,
.c .hljs-built_in,
.cs .hljs-number,
.cs .hljs-built_in,
.css .hljs-attribute,
.css .hljs-hexcolor,
.css .hljs-number,
.css .hljs-function,
.http .hljs-literal,
.http .hljs-attribute,
.java .hljs-number,
.javascript .hljs-built_in,
.javascript .hljs-literal,
.javascript .hljs-number,
.json .hljs-number,
.makefile .hljs-keyword,
.markdown .hljs-link_reference,
.nginx .hljs-built_in,
.objectivec .hljs-literal,
.objectivec .hljs-number,
.objectivec .hljs-built_in,
.php .hljs-literal,
.php .hljs-number,
.python .hljs-number,
.ruby .hljs-prompt,
.ruby .hljs-constant,
.ruby .hljs-number,
.ruby .hljs-subst .hljs-keyword,
.ruby .hljs-symbol,
.sql .hljs-number,
.puppet .hljs-function,
.less .hljs-number,
.less .hljs-hexcolor,
.less .hljs-function,
.less .hljs-attribute,
.scss .hljs-preprocessor,
.scss .hljs-number,
.scss .hljs-hexcolor,
.scss .hljs-function,
.scss .hljs-attribute,
.stylus .hljs-number,
.stylus .hljs-hexcolor,
.stylus .hljs-attribute,
.stylus .hljs-params,
.go .hljs-built_in,
.go .hljs-constant,
.swift .hljs-built_in,
.swift .hljs-number {
  color: #0086b3; }

.apache .hljs-tag,
.cs .hljs-xmlDocTag,
.css .hljs-tag,
.xml .hljs-title,
.stylus .hljs-tag {
  color: #63a35c; }

.bash .hljs-variable,
.cs .hljs-preprocessor,
.cs .hljs-preprocessor .hljs-keyword,
.css .hljs-attr_selector,
.css .hljs-value,
.ini .hljs-value,
.ini .hljs-keyword,
.javascript .hljs-tag .hljs-title,
.makefile .hljs-constant,
.nginx .hljs-variable,
.xml .hljs-tag,
.scss .hljs-variable {
  color: #333333; }

.bash .hljs-title,
.coffeescript .hljs-title,
.cpp .hljs-title,
.c .hljs-title,
.cs .hljs-title,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo,
.ini .hljs-title,
.java .hljs-title,
.javascript .hljs-title,
.makefile .hljs-title,
.objectivec .hljs-title,
.perl .hljs-sub,
.php .hljs-title,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-parent,
.ruby .hljs-title,
.xml .hljs-attribute,
.puppet .hljs-title,
.less .hljs-id,
.less .hljs-pseudo,
.less .hljs-class,
.scss .hljs-id,
.scss .hljs-pseudo,
.scss .hljs-class,
.stylus .hljs-class,
.stylus .hljs-id,
.stylus .hljs-pseudo,
.stylus .hljs-title,
.swift .hljs-title,
.diff .hljs-chunk {
  color: #795da3; }

.coffeescript .hljs-reserved,
.coffeescript .hljs-attribute {
  color: #1d3e81; }

.diff .hljs-chunk {
  font-weight: bold; }

.diff .hljs-addition {
  color: #55a532;
  background-color: #eaffea; }

.diff .hljs-deletion {
  color: #bd2c00;
  background-color: #ffecec; }

.markdown .hljs-link_url {
  text-decoration: underline; }

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }
  .screen-reader-text:focus {
    background-color: #fdfdfa;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #bbb;
    display: block;
    font-size: 0.8em;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

.integrated-search__icon {
  font-size: inherit;
  padding: 0;
  cursor: pointer; }

.integrated-search__form {
  position: relative; }

.integrated-search__form-body {
  position: absolute;
  top: 100%;
  left: 0; }

.search__input {
  width: 100%; }

.search__match {
  font-style: bold;
  background: var(--primary);
  color: var(--white);
  text-shadow: none; }

